@import 'tailwindcss';

@font-face {
  font-family: "Noto Sans SC:Regular";
  src: url("https://static.figma.com/font/NotoSansSC-VF_2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans SC:Bold";
  src: url("https://static.figma.com/font/NotoSansSC-VF_2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans SC:Medium";
  src: url("https://static.figma.com/font/NotoSansSC-VF_2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Noto Serif SC:Regular";
  src: url("https://static.figma.com/font/NotoSerifSC-VF_3") format("woff2");
  font-style: normal;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
}
